#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #ede0d7;
}

h1, h2 {
  color: #321062;
  font-weight: bolder;
}

img {
  width: 20rem;
}

